<div class="form-group">
    <% if @personal.avatar.attached? %>
        <%= image_tag url_for(@personal.avatar), class: "rounded-circle", :size => "100x100"%>
    <% else %>
        <%= obj.label "Profile photo"%>
    <% end %>
    <%= obj.file_field :avatar, accept: "image/*"%> <br>
</div>

<div class="form-group row">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <%= obj.text_field :first_name, autofocus: true, class: 'form-control required-field',
          placeholder: t('personal_infos.first_name') %>
    </div>

    <div class="col-sm-6">
        <%= obj.text_field :last_name, class: 'form-control required-field',
          placeholder: t('personal_infos.last_name') %>
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <%= obj.text_field :current_designation, autofocus: true, class: 'form-control required-field',
          placeholder: t('personal_infos.current_designation') %>
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <%= obj.text_area :technical_skills, size: "30x5", class: 'form-control form-control-textarea required-field',
          placeholder: t('personal_infos.technical_skills') %>
    </div>

    <div class="col-sm-6">
        <%= obj.text_area :known_languages, size: "30x5", class: 'form-control form-control-textarea required-field',
          placeholder: t('personal_infos.language_skills') %>
    </div>
</div>
<div class="form-group">
    <%= obj.text_area :area_of_interests, size: "30x5", class: 'form-control form-control-textarea required-field',
        placeholder: t('personal_infos.area_interest') %>
</div>
<div class="form-group">
    <%= obj.text_area :personal_profile, class: 'form-control form-control-textarea required-field',
        placeholder: t('personal_infos.personal_profile'), size: "30x5" %>
</div>
<div class="form-group">
    <%= obj.text_area :certifications, size: "30x5", class: 'form-control form-control-textarea',
        placeholder: t('personal_infos.certifications'), size: "30x5" %>
</div>
<!--
<div class="form-group">
    <%= obj.text_area :carreer_objective, class: 'form-control form-control-textarea',
        placeholder: t('personal_infos.carreer_objective') %>
</div>
-->

