<div class="form-group row">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <%= obj.text_field :first_name, autofocus: true, class: 'form-control form-control-user',
          placeholder: t('personal_infos.first_name') %>
    </div>

    <div class="col-sm-6">
        <%= obj.text_field :last_name, class: 'form-control form-control-user',
          placeholder: t('personal_infos.last_name') %>
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <%= obj.text_area :technical_skills, size: "30x5", class: 'form-control form-control-textarea',
          placeholder: t('personal_infos.technical_skills') %>
    </div>

    <div class="col-sm-6">
        <%= obj.text_area :known_languages, size: "30x5", class: 'form-control form-control-textarea',
          placeholder: t('personal_infos.language_skills') %>
    </div>
</div>

<div class="form-group">
    <%= obj.text_area :area_of_interests, class: 'form-control form-control-textarea',
        placeholder: t('personal_infos.area_interest') %>
</div>

<div class="form-group">
    <%= obj.text_area :personal_profile, class: 'form-control form-control-textarea',
        placeholder: t('personal_infos.personal_profile') %>
</div>

<div class="form-group">
    <%= obj.text_area :carreer_objective, class: 'form-control form-control-textarea',
        placeholder: t('personal_infos.carreer_objective') %>
</div>
