<%= render 'layouts/errors', obj: @personal %>
<h1 class="h4 text-gray-900 mb-4"><%= t('personal_infos.title') %></h1>
<%= form_with scope: :personal, url: update_personal_infos_path, local: true, html: { class: 'user' } do |f| %>
  <%= render 'personal_infos/form', obj: f %>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <%= f.submit t('common.submit'), class: 'btn btn-secondary justify-content-md-end'  %>
  </div>
<% end %>
