<%= render 'layouts/errors', obj: @user %>
<h1 class="h4 text-gray-900 mb-4"><%= t('personal_infos.title') %></h1>
<%= form_with scope: :user, url: create_personal_infos_path, local: true, html: { :method => :put, class: 'user' } do |f| %>
  <div class="form-group row">
      <div class="col-sm-6 mb-3 mb-sm-0">
          <%= f.text_field :first_name, autofocus: true, class: 'form-control form-control-user',
          placeholder: t('personal_infos.first_name') %>
      </div>

      <div class="col-sm-6">
          <%= f.text_field :last_name, class: 'form-control form-control-user',
          placeholder: t('personal_infos.last_name') %>
      </div>
  </div>
  <div class="form-group row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <%= f.text_area :technical_skills, size: "30x5", class: 'form-control form-control-textarea',
          placeholder: t('personal_infos.technical_skills') %>
      </div>

      <div class="col-sm-6">
          <%= f.text_area :known_languages, size: "30x5", class: 'form-control form-control-textarea',
            placeholder: t('personal_infos.language_skills') %>
      </div>
  </div>

  <div class="form-group">
      <%= f.text_area :area_of_interests, class: 'form-control form-control-textarea',
          placeholder: t('personal_infos.area_interest') %>
  </div>

  <div class="form-group">
      <%= f.text_area :personal_profile, class: 'form-control form-control-textarea',
          placeholder: t('personal_infos.personal_profile') %>
  </div>

  <div class="form-group">
      <%= f.text_area :carreer_objective, class: 'form-control form-control-textarea',
          placeholder: t('personal_infos.carreer_objective') %>
  </div>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <%= f.submit t('common.next'), class: 'btn btn-secondary btn-user justify-content-md-end'  %>
  </div>
<% end %>
