<div id="projects<%= @index %>">
    <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <span class="required-input">
                <input type="text" name="projects[<%= @index %>][title]" id="projects_<%= @index %>_title"
                class="form-control form-control-user" placeholder="<%= t('project_infos.title') %>"/>
            </span>
        </div>
   </div>

    <div class="form-group">
        <span class="required-input">
            <textarea name="projects[<%= @index %>][description]" id="projects_<%= @index %>_description"  rows="5" cols="30"
            class="form-control form-control-textarea"  placeholder="<%= t('project_infos.project_description') %>"></textarea>
        </span>
    </div>

    <div class="form-group row">
        <div class="col-sm-12 ">
            <%= link_to t('project_infos.delete_button'), delete_project_path(:project_index => @index),
                         method: :get ,remote: true, name: 'delete_button', class: 'btn btn-secondary btn-user float-right' %>
        </div>
    </div>
    <hr>
</div>