<table>
  <tbody>
    <tr>
      <td colspan="2" class="marginHeading" style="width: 100%;">
        CONTACT ME AT
      </td>
    </tr>
    <tr>
      <td align="center" valign="top" class="marginList"  style="width: 20%;">
        <i class="fa fa-map-marker fa-sm" aria-hidden="true"></i>
      </td>
      <td class="marginList" style="width: 80%;">
        <%= @address.remaining_address + "," %><br>
        <%= @address.city + "," %><br>
        <%= @address.province + "," %><br>
        <%= @address.country + "," %><br>
        <%= @address.post_cd %><br>
      </td>
    </tr>
    <tr>
      <td align="center" valign="top" class="marginList"  style="width: 20%;">
        <i class="fa fa-envelope-o fa-sm" aria-hidden="true"></i>
      </td>
      <td class="marginList" style="width: 80%;">
        <%= @address.mail_id %>
      </td>
    </tr>
    <tr>
      <td align="center" valign="top" class="marginList"  style="width: 20%;">
        <i class="fa fa-phone fa-sm" aria-hidden="true"></i>
      </td>
      <td class="marginList" style="width: 80%;">
        <%= @address.phone_no %>
      </td>
    </tr>
    <tr>
      <td align="center" valign="top" class="marginList"  style="width: 20%;">
        <i class="fa fa-linkedin-square fa-sm" aria-hidden="true"></i>
      </td>
      <td class="marginList" style="width: 80%;">
        <%= @address.linkedIn_url.scan(/.{1,25}/).join("\n") %>
      </td>
    </tr>
  </tbody>
</table>