<%= render 'layouts/errors', obj: @resume %>
<h1 class="h4 text-gray-900 mb-4"><%= t('resume_infos.title') %></h1>
<%= form_with scope: :resume, url: resume_work_infos_path, local: true, html: { class: 'user' } do |f| %>
  <div class="form-group row">
      <div class="col-sm-6 mb-3 mb-sm-0">
          <%= f.text_field :resume_name, autofocus: true, class: 'form-control form-control-user',
          placeholder: t('resume_infos.resume_name') %>
      </div>

      <div class="col-sm-6">
          <%= f.text_field :layout_id, class: 'form-control form-control-user',
          placeholder: t('resume_infos.layout_id') %>
      </div>
  </div>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <%= f.submit t('common.next'), class: 'btn btn-secondary btn-user justify-content-md-end'  %>
  </div>
<% end %>
