<div class="form-group row">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <%= obj.text_field :nationality, class: 'form-control',
        placeholder: t('address_infos.nationality') %>
    </div>

    <div class="col-sm-6">
        <%= obj.text_field :province, class: 'form-control',
        placeholder: t('address_infos.province') %>
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <%= obj.text_field :city, class: 'form-control',
        placeholder: t('address_infos.city') %>
    </div>

    <div class="col-sm-6">
        <%= obj.text_field :remaining_address, class: 'form-control',
        placeholder: t('address_infos.remaining_address') %>
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <%= obj.text_field :country, class: 'form-control',
        placeholder: t('address_infos.current_country') %>
    </div>

    <div class="col-sm-6">
        <%= obj.number_field :post_cd, class: 'form-control',
        placeholder: t('address_infos.current_zipcode') %>
    </div>
</div>
<div class="form-group row">
    <!--<div class="col-sm-6 mb-3 mb-sm-0">
        <%= obj.email_field :mail_id, class: 'form-control',
        placeholder: t('address_infos.mail_id') %>
    </div>-->

    <div class="col-sm-6">
        <%= obj.telephone_field :phone_no, class: 'form-control',
        placeholder: t('address_infos.contact_number') %>
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <%= obj.url_field :linkedIn_url, class: 'form-control',
        placeholder: t('address_infos.linkedIn_url') %>
    </div>

    <div class="col-sm-6">
        <%= obj.url_field :twitter_url, class: 'form-control',
        placeholder: t('address_infos.twitter_url') %>
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <%= obj.select(:hosting_service, Address.hosting_services, 
            {}, {class: "form-control", :onchange => "selectHostingService()" }) %>
    </div>

    <div class="col-sm-6">
        <%= obj.url_field :repository_url, class: 'form-control',
        placeholder: t('address_infos.repository_url') %>
    </div>
</div>
