<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <%= image_tag("blue.png", :alt => "ResumePreview", class:"card-img-top") %>
      <div class="card-body">
        <h5 class="card-title"><%= t('welcome.resume_template_title') %></h5>
        <p class="card-text"><%= t('welcome.resume_template_description') %></p>
        <%= link_to 'Download Your Resume', resume_path(current_user, format: "pdf", color_theme: "#00008b;"), class: "btn btn-blue" %>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <%= image_tag("dark_grey.png", :alt => "ResumePreview", class:"card-img-top") %>
      <div class="card-body">
        <h5 class="card-title"><%= t('welcome.resume_template_title') %></h5>
        <p class="card-text"><%= t('welcome.resume_template_description') %></p>
        <%= link_to 'Download Your Resume', resume_path(current_user, format: "pdf", color_theme: "#2E3030;"), class: "btn btn-dark-grey" %>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <%= image_tag("cyan.png", :alt => "ResumePreview", class:"card-img-top") %>
      <div class="card-body">
        <h5 class="card-title"><%= t('welcome.resume_template_title') %></h5>
        <p class="card-text"><%= t('welcome.resume_template_description') %></p>
        <%= link_to 'Download Your Resume', resume_path(current_user, format: "pdf", color_theme: "#1198B9;"), class: "btn btn-cyan" %>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <%= image_tag("dark_blue.png", :alt => "ResumePreview", class:"card-img-top") %>
      <div class="card-body">
        <h5 class="card-title"><%= t('welcome.resume_template_title') %></h5>
        <p class="card-text"><%= t('welcome.resume_template_description') %></p>
        <%= link_to 'Download Your Resume', resume_path(current_user, format: "pdf", color_theme: "#091438;"), class: "btn btn-dark-blue" %>
      </div>
    </div>
  </div>
</div>
