<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <%= image_tag("stock_main.jpg", :alt => "ResumePreview", class:"card-img-top") %>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <%= link_to 'Download Your Resume', resume_path(current_user, format: "pdf", color_theme: "#00008b;"), class: "btn btn-secondary btn-secondary-spacing" %>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <%= image_tag("stock_main.jpg", :alt => "ResumePreview", class:"card-img-top") %>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <%= link_to 'Download Your Resume', resume_path(current_user, format: "pdf", color_theme: "#2E3030;"), class: "btn btn-secondary btn-secondary-spacing" %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <%= image_tag("stock_main.jpg", :alt => "ResumePreview", class:"card-img-top") %>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <%= link_to 'Download Your Resume', resume_path(current_user, format: "pdf", color_theme: "#1198B9;"), class: "btn btn-secondary btn-secondary-spacing" %>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <%= image_tag("stock_main.jpg", :alt => "ResumePreview", class:"card-img-top") %>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <%= link_to 'Download Your Resume', resume_path(current_user, format: "pdf", color_theme: "#091438;"), class: "btn btn-secondary btn-secondary-spacing" %>
      </div>
    </div>
  </div>
</div>
