<h1 class="h4 text-gray-900 mb-4"><%= t('welcome.about.about_title')%></h1>
<blockquote class="blockquote">
  <%= simple_format t('welcome.about.description'), class: "text-justify" %>
</blockquote>
<blockquote class="blockquote">
  <%= simple_format t('welcome.about.story'), class: "text-justify" %>
</blockquote>

<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card  text-white bg-dark mb-3" style="max-width: 28rem;">
      <div class="card-header">Developer</div>
      <div class="card-body">
        <h5 class="card-title">AKSHAY PASHNATH SURESH</h5>
        <p class="card-text">Product Development Engineer at 株式会社オネスト</p>
        <%= link_to fa_icon('linkedin-square', class: "fa-lg fa-fw mr-2 text-white"), 'https://www.linkedin.com/in/akshay-ps-a9a383151/', target: '_blank' %>
        <%= link_to fa_icon('github-square', class: "fa-lg fa-fw mr-2 text-white"), 'https://github.com/AkshayPashnathSuresh', target: '_blank' %>
        <%= link_to fa_icon('twitter-square', class: "fa-lg fa-fw mr-2 text-white"), 'https://twitter.com/AkshayPs96', target: '_blank' %>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card  text-white bg-dark mb-3" style="max-width: 28rem;">
      <div class="card-header">Reviewer</div>
      <div class="card-body">
        <h5 class="card-title">PAUL JOE GEORGE</h5>
        <p class="card-text">Developer at 株式会社RECEPTIONIST</p>
        <%= link_to fa_icon('linkedin-square', class: "fa-lg fa-fw mr-2 text-white"), 'https://www.linkedin.com/in/pauljoegeorge/', target: '_blank' %>
        <%= link_to fa_icon('github-square', class: "fa-lg fa-fw mr-2 text-white"), 'https://github.com/pauljoegeorge', target: '_blank' %>
        <%= link_to fa_icon('twitter-square', class: "fa-lg fa-fw mr-2 text-white"), 'https://twitter.com/pauljoegeorge', target: '_blank' %>
      </div>
    </div>
  </div>
</div>