<div id="wrapper">
    
    <!-- Sidebar -->
    <%= render 'welcome/sidebar'%>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <%= render 'welcome/navigationbar'%>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!--Body Of the Page -->
                <h1 class="h4 text-gray-900 mb-4">Enter Your Personal details!</h1>
                <%= form_with scope: :user, url: personal_info_index_path, local: true, html: { class: 'user' } do |f| %>
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <%= f.text_field :first_name, autofocus: true, class: 'form-control form-control-user',
                            placeholder: 'Enter your First name' %>
                        </div>

                        <div class="col-sm-6">
                            <%= f.text_field :last_name, class: 'form-control form-control-user',
                            placeholder: 'Enter your Last name' %>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                          <%= f.text_area :technical_skills, size: "30x5", class: 'form-control form-control-textarea',
                            placeholder: 'Enter your technical skills (Press ENTER after every input)' %>
                        </div>

                        <div class="col-sm-6">
                            <%= f.text_area :known_languages, size: "30x5", class: 'form-control form-control-textarea',
                              placeholder: 'Enter your Language skills (Press ENTER after every input)' %>
                        </div>
                    </div>

                    <div class="form-group">
                        <%= f.text_area :area_of_interests, class: 'form-control form-control-textarea',
                            placeholder: 'Enter your area of interest (Press ENTER after every input)' %>
                    </div>

                    <div class="form-group">
                        <%= f.text_area :personal_profile, class: 'form-control form-control-textarea',
                            placeholder: 'Enter your personal profile' %>
                    </div>

                    <div class="form-group">
                        <%= f.text_area :carreer_objective, class: 'form-control form-control-textarea',
                            placeholder: 'Enter your carreer objective' %>
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <%= f.submit "Next", class: 'btn btn-secondary btn-user justify-content-md-end'  %>
                    </div>
                <% end %>
                <!--End Of the Page -->
            </div>
            <!-- End Page Content -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <%= render 'welcome/footer' %>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<%= render 'welcome/logoutModal' %>
