<div id="educations<%= @index %>">
    <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <span class="required-input">
                <input type="text" name="educations[<%= @index %>][institution_name]" id="educations_<%= @index %>_institution_name"
                class="form-control form-control-user", placeholder="<%= t('education_infos.institution_name') %>"/>
            </span>
        </div>

        <div class="col-sm-6">
            <span class="required-input">
                <input type="text" name="educations[<%= @index %>][course_name]" id="educations_<%= @index %>_course_name"
                class="form-control form-control-user" placeholder="<%= t('education_infos.course_name') %>" />
            </span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <span class="required-input">
                <label for="from_date"><%= t('common.from') %></label>
                <input type="date" name="educations[<%= @index %>][studied_from]" id="educations_<%= @index %>_studied_from" 
                    max='<%= Date.today %>', class="form-control form-control-user"/>
            </span>
        </div>

        <div class="col-sm-6">
            <span class="nonrequired-input">
                <label for="to_date"><%= t('common.to') %></label>
                <input type="date" name="educations[<%= @index %>][studied_to]" id="educations_<%= @index %>studied_to" 
                    max='<%= Date.today %>', class="form-control form-control-user"/>
            </span>
        </div>
    </div>
    <!--
    <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <input type="text" name="educations[<%= @index %>][grade_point]" id="educations_<%= @index %>_grade_point"
            class="form-control form-control-user" placeholder="<%= t('education_infos.grade_point') %>" />
        </div>
    </div>
    -->
    <div class="form-group">
        <span class="nonrequired-input">
            <textarea name="educations[<%= @index %>][achivements]" id="educations_<%= @index %>_achivements"
            class="form-control form-control-textarea" rows="8" cols="50" placeholder="<%= t('education_infos.achievements') %>"></textarea>
        </span>
    </div>

    <div class="form-group row">
        <div class="col-sm-12 ">
            <%= link_to t('education_infos.delete_button'), delete_education_path(:education_index => @index),
                         method: :get ,remote: true, name: 'delete_button', class: 'btn btn-secondary btn-user float-right' %>
        </div>
    </div>
    <hr>
</div>