<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
<table class="mainTable">
  <tbody>
    <tr>
      <td style="width: 35%" valign="top">
        <table class="marginMainTable" border="0" style="background-color:<%= @color_theme %>">
          <tbody>
            <tr>
              <td valign="top" width="100%">
                <br/>
                <%= render 'resumes/resume_layout1/profile_photo' %>
                <%= render 'resumes/resume_layout1/personal_information' if @address.present? %>
                <hr class="margin-divider">
                <%= render 'resumes/resume_layout1/technical_skills' %>
                <hr class="margin-divider">
                <%= render 'resumes/resume_layout1/language_skills' %>
                <hr class="margin-divider">
                <%= render 'resumes/resume_layout1/area_of_interest' %>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
      <td style="width: 65%" valign="top">
        <table class="contentMainTable" border="0">
          <tbody>
            <tr>
              <td valign="top">
                <%= render 'resumes/resume_layout1/name' %>
                <%= render 'resumes/resume_layout1/personal_profile' %>
                <%= render 'resumes/resume_layout1/education' if @educations.present?  %>
                <%= render 'resumes/resume_layout1/experience' if @works.present?  %>
                <%= render 'resumes/resume_layout1/certifications' unless @personal.certifications.empty? %>
                <%= render 'resumes/resume_layout1/projects' if @projects.present? %>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>