<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
<table class="mainTable">
  <tbody>
    <tr>
      <td style="width: 30%" valign="top">
        <table class="marginMainTable" border="0">
          <tbody>
            <tr>
              <td align="center" valign="top">
                <br/>
                <span class="circlePhoto"></span>
                <%= render 'resumes/resumeLayout1/personalInformation' %>
                <%= render 'resumes/resumeLayout1/technicalSkills' %>
                <%= render 'resumes/resumeLayout1/languageSkills' %>
                <%= render 'resumes/resumeLayout1/areaOfInterest' %>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
      <td style="width: 70%" valign="top">
        <table class="contentMainTable" border="0">
          <tbody>
            <tr>
              <td valign="top">
                <%= render 'resumes/resumeLayout1/name' %>
                <%= render 'resumes/resumeLayout1/personalProfile' %>
                <%= render 'resumes/resumeLayout1/experience' %>
                <%= render 'resumes/resumeLayout1/education' %>
                <%= render 'resumes/resumeLayout1/certifications' %>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>