<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3" data-toggle="collapse" data-target="#sidebarSupportedContent" aria-controls="sidebarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
    </button>
    
    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small"><%= current_user.email %></span>
                <% if current_user.personal != nil && current_user.personal.avatar.attached? %>
                    <%= image_tag url_for(current_user.personal.avatar), class: "img-profile rounded-circle", :size => "200x200"  %>
                <% else %>
                    <%= image_tag image_path('profile_dummy.png'), :class => "img-profile rounded-circle", :alt => "" %>
                <% end %>
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                    <i class="fa fa-shield fa-sm fa-fw mr-2 text-gray-400"></i>
                    <%= t('navbar.privacy') %>
                </a>
                <%= link_to fa_icon('cog', class: "fa-sm fa-fw mr-2 text-gray-400", text: t('navbar.settings')), settings_path, class: 'dropdown-item' %>
                          
                <a class="dropdown-item" href="#">
                    <i class="fa fa-building fa-sm fa-fw mr-2 text-gray-400"></i>
                    <%= t('navbar.about_us') %>
                </a>
                <%= link_to fa_icon('sign-out', class: "fa-sm fa-fw mr-2 text-gray-400", text: t('navbar.sign_out')), '#logoutModal', 'data-toggle' => 'modal', class: 'dropdown-item' %>
            </div>
        </li>

    </ul>
</nav>
<!-- End of Topbar -->