<!DOCTYPE html>
<html>
  <head>
    <title>ResumeMaker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-gradient-dark">
    <%= render 'layouts/message' %>
    <% non_base_form =  ([new_user_session_path, new_user_registration_path, user_registration_path, "/404", "/500"].include? request.path) || (request.path.include? "resumes") %>
    <% if non_base_form %>
      <%= yield %>
    <% else %>
      <%= render 'layouts/baseform' %>
    <% end %>
  </body>
</html>
