<!DOCTYPE html>
<html>
  <head>
    <title>CvCreator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-gradient-dark">
    <%= render 'layouts/message' %>
    <% if [new_user_session_path, new_user_registration_path, user_registration_path,
           resume_path(1), "/404", "/500", not_found_path, internal_server_error_path].include? request.path %>
      <%= yield %>
    <% else %>
      <%= render 'layouts/baseform' %>
    <% end %>
  </body>
</html>
